Repository oneinfra/oneinfra: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/publish-testing-images.yml, .azure-pipelines/publish-tooling-images.yml

.azure-pipelines/publish-testing-images.yml:
  jobs:
  - job: publish_containerd_1_3_4_container_image
    displayName: Publish containerd:1.3.4 container image
    pool:
      vmImage: ubuntu-18.04
    steps:
    - bash: make publish-container-image-ci
      displayName: Publish container image
      env:
  ...

.azure-pipelines/publish-tooling-images.yml:
  jobs:
  - job: publish_kubelet_installer_1_15_12_container_image
    displayName: Publish kubelet-installer:1.15.12 container image
    pool:
      vmImage: ubuntu-18.04
    steps:
    - bash: make publish-container-image-ci
      displayName: Publish container image
      env:
  ...

publish testing images pipeline: run if RELEASE_TEST file changes
  .azure-pipelines/publish-testing-images.yml
  internal/app/oi-releaser/pipelines/publish_testing_images.go
Due: .azure-pipelines/publish-testing-images.yml

Start building binaries for other architectures
  internal/app/oi-releaser/binaries/binaries.go
Due: none

Prepare for releasing 20.05.0-alpha15
  README.md
  RELEASE
  config/generated/all.yaml
  config/manager/manager.yaml
  docs/install-from-source.md
  docs/quick-start-creating-managed-clusters.md
  docs/quick-start.md
  internal/pkg/constants/zz_generated.release_data.constants.go
  scripts/demo.sh
Due: .azure-pipelines/publish-testing-images.yml, .azure-pipelines/publish-tooling-images.yml

Update pipeline links
  README.md
  README.md.in
Due: none

release: do not create draft release for now
  scripts/release.sh
Due: none

Fill version at build time instead of using the RELEASE file
  Makefile
  RELEASE
  cmd/oi/main.go
  internal/app/oi-releaser/images/utils.go
  internal/app/oi-releaser/text/text.go
  internal/pkg/constants/versions.go
  internal/pkg/constants/zz_generated.release_data.constants.go
  pkg/versions/versions.go
Due: .azure-pipelines/publish-testing-images.yml, .azure-pipelines/publish-tooling-images.yml

build images using the current tag
  images/oi-manager/Dockerfile
  images/oi-manager/Makefile
  images/oi/Dockerfile
  images/oi/Makefile
Due: none

Use different vars for tag image and build version
  images/oi-manager/Makefile
  images/oi/Makefile
Due: none

Use double quotes for arg Dockerfile replacement
  images/oi-manager/Dockerfile
  images/oi/Dockerfile
Due: none

Allow overriding oneinfra version when replacing text placeholders
  internal/app/oi-releaser/text/text.go
Due: none

Add initial release documentation
  Makefile
  README.md
  README.md.in
  docs/RELEASE.md
Due: none

Prepare for releasing 20.05.0-alpha16
  README.md
  config/generated/all.yaml
  config/manager/manager.yaml
  docs/install-from-source.md
  docs/quick-start-creating-managed-clusters.md
  docs/quick-start.md
  scripts/demo.sh
Due: none

Fix documentation links
  docs/RELEASE.md
Due: none

Change documentation structure
  docs/RELEASE.md
Due: none

Fix typo
  docs/RELEASE.md
Due: none

oi-releaser: pass build version on when building artifacts
  internal/app/oi-releaser/binaries/binaries.go
Due: none

Prepare for releasing 20.05.0-alpha17
  README.md
  config/generated/all.yaml
  config/manager/manager.yaml
  docs/install-from-source.md
  docs/quick-start-creating-managed-clusters.md
  docs/quick-start.md
  go.mod
  go.sum
  scripts/demo.sh
  vendor/k8s.io/apimachinery/pkg/util/json/json.go
  vendor/k8s.io/apimachinery/pkg/util/wait/wait.go
  vendor/k8s.io/client-go/tools/clientcmd/client_config.go
  vendor/k8s.io/client-go/tools/leaderelection/resourcelock/configmaplock.go
  vendor/modules.txt
Due: none

Update documentation
  docs/RELEASE.md
Due: none

Update release pipeline naming
  .azure-pipelines/release.yml
  internal/app/oi-releaser/pipelines/release.go
Due: none

Exclude PR on all branches except for the test pipeline
  .azure-pipelines/publish-nightly-images.yml
  .azure-pipelines/publish-testing-images.yml
  .azure-pipelines/publish-tooling-images.yml
  .azure-pipelines/release.yml
  internal/app/oi-releaser/pipelines/azure/azure.go
  internal/app/oi-releaser/pipelines/publish_nightly_images.go
  internal/app/oi-releaser/pipelines/publish_testing_images.go
  internal/app/oi-releaser/pipelines/publish_tooling_images.go
  internal/app/oi-releaser/pipelines/release.go
Due: .azure-pipelines/publish-testing-images.yml, .azure-pipelines/publish-tooling-images.yml

Fix pipelines with the right schema
  .azure-pipelines/publish-nightly-images.yml
  .azure-pipelines/publish-testing-images.yml
  .azure-pipelines/publish-tooling-images.yml
  .azure-pipelines/release.yml
  internal/app/oi-releaser/pipelines/azure/azure.go
  internal/app/oi-releaser/pipelines/publish_nightly_images.go
  internal/app/oi-releaser/pipelines/publish_testing_images.go
  internal/app/oi-releaser/pipelines/publish_tooling_images.go
  internal/app/oi-releaser/pipelines/release.go
Due: .azure-pipelines/publish-testing-images.yml, .azure-pipelines/publish-tooling-images.yml

Update pipelines display name
  .azure-pipelines/test.yml
  README.md
  README.md.in
  internal/app/oi-releaser/pipelines/test.go
Due: none

Simplify demo instructions
  README.md
  README.md.in
  scripts/demo.sh
  scripts/demo.sh.in
Due: none

release: generate release notes if provided
  cmd/oi-releaser/main.go
  internal/app/oi-releaser/git/git.go
  scripts/release.sh
Due: none

Remove release information from main README
  README.md
  README.md.in
Due: none

Prepare for releasing 20.06.0-alpha18
  README.md
  config/generated/all.yaml
  config/manager/manager.yaml
  docs/install-from-source.md
  docs/quick-start-creating-managed-clusters.md
  docs/quick-start.md
  scripts/demo.sh
Due: none

Use TTY for the release container (if any)
  Makefile
Due: none

install requirements CI: build missing container images if any
  cmd/oi-releaser/main.go
  internal/app/oi-releaser/images/images.go
  internal/app/oi-releaser/images/utils.go
  scripts/install-requirements.sh
Due: none

Bump Kubernetes versions
  .azure-pipelines/publish-testing-images.yml
  .azure-pipelines/publish-tooling-images.yml
  RELEASE
  RELEASE_TEST
  internal/pkg/constants/zz_generated.release_data.constants.go
  internal/pkg/constants/zz_generated.test_data.go
Due: .azure-pipelines/publish-testing-images.yml, .azure-pipelines/publish-tooling-images.yml

Update test pipeline to use latest Kubernetes versions
  .azure-pipelines/test.yml
Due: none

Rollback 1.19.0-beta.2 to 1.19.0-beta.0 temporarily
  .azure-pipelines/publish-testing-images.yml
  .azure-pipelines/publish-tooling-images.yml
  .azure-pipelines/test.yml
  RELEASE
  RELEASE_TEST
  internal/pkg/constants/zz_generated.release_data.constants.go
  internal/pkg/constants/zz_generated.test_data.go
Due: .azure-pipelines/publish-testing-images.yml, .azure-pipelines/publish-tooling-images.yml

Update Kubernetes 1.19.0-beta.0 to 1.19.0-beta.2
  .azure-pipelines/publish-testing-images.yml
  .azure-pipelines/publish-tooling-images.yml
  .azure-pipelines/test.yml
  RELEASE
  RELEASE_TEST
  internal/pkg/component/components/control_plane.go
  internal/pkg/constants/zz_generated.release_data.constants.go
  internal/pkg/constants/zz_generated.test_data.go
Due: .azure-pipelines/publish-testing-images.yml, .azure-pipelines/publish-tooling-images.yml

Pass boolean arguments strictly as one value
  internal/pkg/component/components/control_plane.go
Due: none

Revert "Update Kubernetes 1.19.0-beta.0 to 1.19.0-beta.2"
  .azure-pipelines/publish-testing-images.yml
  .azure-pipelines/publish-tooling-images.yml
  .azure-pipelines/test.yml
  RELEASE
  RELEASE_TEST
  internal/pkg/component/components/control_plane.go
  internal/pkg/constants/zz_generated.release_data.constants.go
  internal/pkg/constants/zz_generated.test_data.go
Due: .azure-pipelines/publish-testing-images.yml, .azure-pipelines/publish-tooling-images.yml

Revert "Pass boolean arguments strictly as one value"
  internal/pkg/component/components/control_plane.go
Due: none

Prepare for releasing 20.06.0-alpha19
  README.md
  README.md.in
  config/generated/all.yaml
  config/manager/manager.yaml
  docs/install-from-source.md
  docs/quick-start-creating-managed-clusters.md
  docs/quick-start.md
  scripts/demo.sh
  scripts/release.sh
Due: none

Update vendored version from 0.18.3 to 0.18.5
  go.mod
  go.sum
  vendor/modules.txt
Due: none

components: fix how program arguments are provided
  internal/pkg/component/component.go
  internal/pkg/component/components/control_plane.go
  internal/pkg/component/components/control_plane_ingress.go
  internal/pkg/component/components/etcd.go
Due: none

Update pipelines and dependencies
  .azure-pipelines/publish-testing-images.yml
  .azure-pipelines/publish-tooling-images.yml
  go.mod
  go.sum
  vendor/k8s.io/apimachinery/pkg/apis/meta/v1/types.go
  vendor/k8s.io/apimachinery/pkg/util/net/http.go
  vendor/k8s.io/client-go/tools/cache/reflector.go
  vendor/modules.txt
Due: .azure-pipelines/publish-testing-images.yml, .azure-pipelines/publish-tooling-images.yml

Path conditions:
  .azure-pipelines/publish-testing-images.yml: any of: RELEASE, .azure-pipelines/publish-testing-images.yml
  .azure-pipelines/publish-tooling-images.yml: any of: RELEASE, .azure-pipelines/publish-tooling-images.yml
